header{
  background-color: blue;
  padding: 20px;
}


.healthbar{
  background-color: red;
  position: relative;
  top: 7px;
  left: 12px;
  border: solid black 1px;
  padding: 10px;
}

img {
  position:fixed;
  border: solid black 1px;
}

p{
  position: fixed;
  border: solid black 1px;
}

#enemy0{
  top: 125px;
  left: 150px;
}

#enemy1{
  bottom: 462px;
  left: 950px;
}

#enemy2{
  bottom: 80px;
  left: 450px;
}

#enemy3{
  left: 1250px;
  bottom: 80px;
}

#word0{
  top: 355px;
  left: 173px;
}

#word1{
  top: 359px;
  left: 977px;
}

#word2{
  top: 741px;
  left: 475px;
}

#word3{
  top: 741px;
  left: 1276px;
}


.enemy-dead, .word-dead{
  display: none;
}

.health-lost{
  display: none;
}
