.header{
  /* background-color: blue; */
  padding: 20px;
  color: yellow;
}

#logo{
  height: 13%;
  top: 200px;
  left: 255px;
}

#g-logo{
  height: 12%;
  top: 120px;
  left: 280px;
}

#tag{
  height: 3%;
  top: 317px;
  left: 328px;
}


#g-tag{
  height: 5%;
  top: 250px;
  left: 460px;
}

#score-tag{
  height: 6%;
  top: 350px;
  left: 350px;
}

#score{
  font-size: 70px;
  top: 320px;
  left: 960px;
}

.start-but{
  height : 10%;
  top: 525px;
  left: 535px;
}
#start-but{
  background-image: url("assets/images/start.png");
  width: 271px;
  height: 57px;
  background-color: black;
  position: relative;
  top: 470px;
  left: 593px;
  border: black;
}

#retry{
  background-image: url("assets/images/retry.png");
  width: 385px;
  height: 47px;
  background-color: black;
  position: relative;
  top: 470px;
  left: 490px;
  border: black;
}
#myInput{
  color: black;
}

body{
  background-image: url("assets/images/space.png");
}

.healthbar{
  background-color: red;
  position: relative;
  top: 7px;
  left: 12px;
  border: solid black 1px;
  padding: 10px;
}

.health-lost{
  display: none;
}

img {
  position:fixed;
  border: solid black 1px;
  height: 22%;
}

p{
  position: fixed;
  border: solid black 1px;
  color: yellow;
  font-size: 18px;
}

h5{
  font-size: 17px;
}

#enemy0{
  top: 125px;
  left: 150px;
}

#enemy1{
  bottom: 514px;
  left: 858px;
}

#enemy2{
  bottom: 80px;
  left: 368px;
}

#enemy3{
  left: 1100px;
  bottom: 80px;
}

#word0{
  top: 306px;
  left: 267px;
}

#word1{
  top: 306px;
  left: 977px;
}

#word2{
  top: 741px;
  left: 485px;
}

#word3{
  top: 740px;
  left: 1217px;
}

#game-over{
  left: -500px;
}


.enemy-dead, .word-dead, .start{
  display: none;
}
